nav {
  display: flex;
}
nav a {
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

.dropdown {
  & > a {
    display: block;
    transition: background-color 120ms ease-out;
  }

  & > div {
    display: flex;
    position: absolute;
    background-color: lightgrey;
    transition: opacity 120ms ease-out;
  }

  &:not(:hover) {
    & > div {
      opacity: 0;
    }
  }

  &:hover {
    & > a {
      background-color: lightgrey;
    }
  }
}
